/*
Colors used:
Primary Color:  #CE2180
Secondary Color: #632680
Tertiary Color: #44DDCB
Background Color (white): #FFFFFF
Text Colors (dark grey, black): #606060; #313131; #474747; #ffffff
*/

/* Global Styles============================*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #606060;
}

h1 {
  font-size: 1.85em;
  font-weight: 700;
  color:  #313131;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color:  #474747;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color:  #474747;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  color:  #474747;
}
img {
  width: 100%;
}

/* 1. I adjusted the font sizes, just trying what works better for small screen.*/
@media (min-width:768px) {
  body {font-size:18px;}
}

@media (min-width:1200px) {
  body {font-size:19px
  }
}


/* Links and Buttons ============================ */
a{
  color: #CE2180;
  text-decoration: underline;
}

a:visited {
  color: #CE2180;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #632680;
}

a:active {
color: #44DDCB;
}

.button {
  display: inline-block;
  background-color: #CE2180;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #632680;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
opacity:   0.8;
}

.button:active {
  background-color: #44DDCB;
  border-bottom: 2px solid #00B2AC;
}

.button.contact {
  background-color: transparent;
  color: #CE2180 !important;
  text-transform: uppercase;
  border: 2px solid #CE2180;
}

.button.contact:hover{
  background-color: #CE2180;
  opacity: 1;
  color:#ffffff !important;
}

.button.contact:active {
 background-color: #ffffff;
 color: #44DDCB !important;
  border: 2px solid #44DDCB;
}

/* Header
==================================== */
header {
  background-color: #ECFCFB;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

header nav {
  text-align: left;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}


nav > ul > li >  a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: blue;       /*This doesn't work for some reason, the color of the navigation links doesn't change to blue */
}

nav > ul > li> a:visited {
  color: blue;
}

nav > ul > li> a:hover, a:focus {
  color: green;
}

nav {
  display: inline-block;
  width: 100%;
}


 /*Or could I use this code instead of the one above to remove bullet points? It worked when used

header nav ul {
  list-style-type: none;
}

*/

.center {
  text-align: center;
} /*Doesn't seem to work for Logo if I put "center" class there */

.logo {
 text-align: center;
} /*Doesn't seem to work for Logo */



/* Main
==================================== */
#hero {
  background-color: #ECFCFB;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}


.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #606060;
}

main {
  padding-top: 108px;
}
/* Footer
==================================== */
#contact > .container {
  background-color: #ECFCFB;
  padding:
}

.copyright {
 display: inline-block;
 width: 100%
}
/* Containers & Columns
==================================== */

/* Layout styling
=====================================*/
.container {
  padding: 0 15px;
}
