/*
Colors used:
Primary Color (purple): #561D49
Secondary Color (light purple): #98185F
Background Color (white): #FFFFFF
Headlines Color (black): #000000
Text Color (dark grey): #222222
*/

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #606060;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #313131;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #474747;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}
img {
  width: 100%
}

@media screen and (max-width: 767px) {
  h1 {
    font-size:1.8em;
  }
  h2 {
    font-size:1.6em;
  }
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
}
