/*
Colors used:
Primary Color:  #CE2180
Secondary Color: #632680
Tertiary Color: #44DDCB
Background Color (white): #FFFFFF
Text Colors (dark grey, black): #606060; #313131; #474747; #ffffff
*/
/* Global Styles============================*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #606060;
}

h1 {
  font-size: 1.85em;
  font-weight: 700;
  color: #313131;
  margin-top: 0;
  padding-top: 0.67em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #474747;
  margin: 0.83em 0;
  padding: 0 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #474747;
margin: 0.83em 0;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  color: #474747;
}

img {
  width: 100%;
}

/* Links and Buttons ============================ */
a {
  color: #CE2180;
  text-decoration: underline;
  transition: 0.2s color;
}

a:visited {
  color: #CE2180;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #632680;
}

a:active {
  color: #44DDCB;
}

.button {
  display: inline-block;
  background-color: #CE2180;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #632680;
  transition: 0.2s opacity;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: #44DDCB;
  border-bottom: 2px solid #00B2AC;
}

.button.contact {
  background-color: transparent;
  color: #CE2180 !important;
  text-transform: uppercase;
  border: 2px solid #CE2180;
}

.button.contact:hover {
  background-color: #CE2180;
  opacity: 1;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #ffffff;
  color: #44DDCB !important;
  border: 2px solid #44DDCB;
}

/* Header
==================================== */
header {
  background-color: #ECFCFB;
  text-align: center;  /* This seems enough to center the logo.*/
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

.logo a{
  font-size: 1.5em;
  color: #632680;
  text-decoration: none;
  text-transform: underline;
  font-weight: 600;
  position: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}


nav>ul>li>a {
  padding: 0 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #632680;
  transition: 0.2s color;
}

nav>ul>li>a:visited {
  color: #632680;
}

nav>ul>li>a:hover, a:focus {
  color: #CE2180;
}

nav>ul>li>a:active {
  color: #44DDCB;
}

nav {
  display: inline-block;
  width: 100%;
}



/* Main
==================================== */
#hero {
  background-color: #ECFCFB;
  padding:0 0 20px 0;           /*  padding: 20px 0;   doesn't work here, as it adds extra space above h1 */
  display: inline-block;
  width: 100%
}

#hero span {
  display: block;
  font-weight: 500;
}

#project-name span {
  display: block;
  font-weight: 500;
}

main {
  padding-top: 123px;
}


/* Main CSS Animation
==================================== */
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}
.cloud-front {
 animation: 10s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
 animation: 30s cloud-move-reverse infinite alternate linear;
}





/* Footer
==================================== */
footer {       /* I had this code there originally #contact>.container , but changed to footer instead  */
  background-color: #ECFCFB;
}
.copyright {
  display: inline-block;
  width: 100%;
}

#contact h2 {
  margin: 0;
  padding: 0.83em 0;
}

/* Containers & Columns
==================================== */
.container {
  padding: 0 15px;
}

/* Layout styling
=====================================*/
.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #606060;
  margin-bottom: 25px;
}
#work .row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.center {
  text-align: center;
}

#index-page .row {
  margin: 0px 0;
}

#about-page .row {
  margin: 0px 0;
}

#about-page h2.center {
  padding-bottom: 0;
  margin-bottom: 0.83em;
}

/* Media Queries
=====================================*/
@media only screen and (min-width: 640px){
  header {
    text-align: unset;
    padding: 30px 0 23px;
  }
  .logo {
    display: inline-block;
  }
  main {
    padding-top: 98px;         /*  This seems to fix the spacing above the h1 element */``
  }
  nav {
    width: auto;
    float: right;
    margin-top: 9px;
  }
  nav ul {
    margin: 0;
  }
  #hero {
    padding-top: 20px;
  }
  body {
    font-size: 17px;
  }
  .col-md-6 {
    width:50%;
  }
  [class*="col-"] {
    float:left;
    padding: 0 10px;
    margin-top: 25px;
    }
    [class*="col-"] h3 {
      margin-top: 0;
    }
  .row {
    margin: 0 -10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 {
    margin-top: 0;
  }
  #about-page footer {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .col-lg-7 {
    width:58.33%;
  }
  .col-lg-5 {
    width:41.66%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {

}






/*
fot my own reference

@media (min-width:768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width:1200px) {
  body {
    font-size: 19px;
  }
}

*/
